<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TranslatorKey" value="AcCz2CqJyPhRXGHEqVLtmSKCrdpymVev7STxlLlZhnwH9lkFsZxAJQQJ99BGAC5T7U2XJ3w3AAAbACOGjJDu"/>
		<add key="TranslatorEndpoint" value="https://api.cognitive.microsofttranslator.com/"/>
		<add key="TranslatorRegion" value="francecentral"/>
	</appSettings>
</configuration>